@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rubik&display=swap');

body {
color: black;
font-family: 'Rubik', sans-serif;
}

header {
    min-height: 100px;
    background: black;
    color: white;
}

.logo {
font-family: 'Bangers', cursive;
font-size: 3em;
position: absolute;
margin: 0;
top: 20px;
left: 20px;
}

.nav {
    height: 100px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 5%;
    padding: 2em;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    color: gray;
}

main {
    min-height: calc(100vh - 200px);
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
}
p {
    margin-block: 1em;
}

.top-section{
    width: 100%;
    min-height: 30vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/header-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section h1 {
    font-size: 5em;
}
.top-section p {
    font-size: 3em;
}

.home-wrapper {
    padding-block: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    min-height: calc(100vh - 200px - 30vh);
}

.titles-homepage {
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 2em;
}

.home-wrapper div {
    height: 300px;
    width: 300px;
}

.home-wrapper a {
    text-decoration: none;
}

.home-item-1,
.home-item-2,
.home-item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-item-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/Skater-1.png');
    background-position: center;
    background-repeat: no-repeat;
}
.home-item-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/Skater-2.png');
    background-position: center;
    background-repeat: no-repeat;
}
.home-item-3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../media/Skater-3.png');
    background-position: center;
    background-repeat: no-repeat;
}

.home-item-1:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../media/Skater-1.png');
    background-position: center;
    background-repeat: no-repeat;
}
.home-item-2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../media/Skater-2.png');
    background-position: center;
    background-repeat: no-repeat;
}
.home-item-3:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../media/Skater-3.png');
    background-position: center;
    background-repeat: no-repeat;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
    align-content: center;
    justify-content: center;
}

.form {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-content: center;
    font-family: inherit;
    margin-block: auto;
    min-width: 0px;
}

    input,
    button {
        height: 2em;
    }

    input {
        padding-left: 1em;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
    }

    #fname,
    #lname,
    .age,
    #email {
        grid-column: span 1;
    }

    .age {
        width: calc(100% - 44px);
    }

    #submit {
        grid-column: 2;
    }

    .form p {
        margin-left: 1em;
        display: inline;
    }

.text-game{
    grid-column: 4 / 6;
    margin-block: auto;
}

.footer {
    width: 100%;
    min-height: 100px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 2em;
}

.footer a {
text-decoration: none;
color: inherit;
}

.footer a:hover {
color: gray;
}

.sm-icon {
    margin-inline: 15px;
    width: 20px;
}

.sm-icon:hover {
    transform: scale(1.1);
}

/* Game */
    .content-game {
        grid-column: 1 / 7;
        min-height: 600px;
        font-size: 1.5rem;
    }
    
    #game {
        position: relative;
        width: 600px;
        height: 300px;
        border: 2px solid black;
        margin: auto;
    }
    
    
    #dino {
        height: 100px;
        width: 75px;
        top: 200px;
        position: relative;
        background-image: url("../media/game/Skater.gif");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #dino.dino-dies {
        background-image: url("../media/game/Skater_dead.png");
    }
    
    #rock {
        width: 50px;
        height: 50px;
        position: relative;
        top: 150px;
        left: 550px;
        background-image: url("../media/game/hydrant.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .rock-animation {
        animation: rock 1.33s infinite;
    }
    
    @keyframes rock {
        0% {
        left: 550px;
        }
    
        100% {
        left: -50px;
        }
    }
    
    #goodie {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 60px;
        left: 550px;
        background-image: url("../media/game/truck.png");
        background-size: cover;
    }
    
    .goodie-animation {
        animation: goodie1 3.33s infinite;
    }
    
    @keyframes goodie1 {
        0% {
        left: 550px;
        }
    
        100% {
        left: -50px;
        }
    }
    
    @keyframes goodie2 {
        0% {
        left: 550px;
        top: 100px;
        }
    
        100% {
        left: -50px;
        top: 20px;
        }
    }
    
    @keyframes goodie3 {
        0% {
        left: 550px;
        top: 100px;
        }
    
        100% {
        left: -50px;
        top: 0px;
        }
    }
    
    .jump-animation {
        animation: jump 0.5s;
    }

    #dino.jump-animation {
        background-image: url("../media/game/Skater_jump.gif");
    }
    
    @keyframes jump {
        0% {
        top: 200px;
        }
    
        50% {
        top: 50px;
        }
    
        75% {
        top: 50px;
        }
    
        100% {
        top: 200px;
        }
    }
    
    
    
    #background {
        position: absolute;
        width: 600px;
        height: 300px;
        background-image: url("../media/game/background.png");
        background-size: cover;
    }
    
    .bg-animation {
        animation: moveBg 10.33s linear infinite;
    }
    
    @keyframes moveBg {
        0% {
        background-position: 0 0;
        }
    
        100% {
        background-position: -600px 0;
        }
    }
    
    
    .gameRow {
        text-align: center;
        margin-top: 20px;
        padding: 8px;
    }
    
    .gameOver {
        display: none;
    }
    
    .startScreen {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0.7;
        background: black
    }
    
    .startScreenText {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    
        text-align: center;
        color: white;
    
    
    }